@font-face {
    font-family: 'Akrobat';
    src: url('./fonts/Akrobat/Akrobat-Regular.eot');
    src: url('./fonts/Akrobat/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Akrobat/Akrobat-Regular.woff') format('woff'),
    url('./fonts/Akrobat/Akrobat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arctika';
    src: url('./fonts/Arcticascript/Arctikascript.eot');
    src: url('./fonts/Arcticascript/Arctikascript.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Arcticascript/Arctikascript.woff') format('woff'),
    url('./fonts/Arcticascript/Arctikascript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 16px;
}

body{
    background: url('./img/background/bg.png');
    font-family: 'Acrobat';
    font-size: 16px;
}

li{
    list-style: none;
}

a{
    text-decoration: underline;
    color: #dbdbdc;
}



.container{
    max-width: 960px;
}

header{
    background-color: #749c8d;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 5;
}

.header__content{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.logo__text{
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
    font-size: 1.62rem;
    position: relative;
    top: 10px;
}

@media screen and (max-width: 468px){
    .logo__text{
        display: none;
    }
}

/* @media screen and (max-width: 468px){
    .logo__text{
        font-size: 1em;
    }
} */

.socials__list{
    display: flex;
    margin-top: 5%;
}

.socials__item{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

@media screen and (max-width: 468px){
    .socials__item{
        width: 30px;
        height: 30px;
    }
}


.socials__item--vk{
    background: url('./img/icons/vk-icon.png') center center no-repeat;
}

.socials__item--inst{
    background: url('./img/icons/instagram-icon.png') center center no-repeat;
}

.socials__item--fb{
    background: url('./img/icons/fb-icon.png') center center no-repeat;
}



.banner{

    background: url('./img/background/banner.png');
    background-size: 100% 100%;

}

.banner__content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 445px; */
}

.banner__title{
    display: flex;
    align-self: center;
    font-family: "Arctika";
    font-size: 6.75rem;
    color: #de2c2f;
    text-shadow: -5px 5px 2px white;
    width: 25%;
    padding-bottom: 12%;
    padding-top: 7%;
    line-height: 80%;
}  

@media screen and (max-width: 1280px) {
    .banner__title {
        font-size: 5.75rem;
    }
    .banner{
        padding-top: 5%;
    }
   }
@media screen and (max-width: 1024px) {
    .banner__title {
        font-size: 4rem;
    }
    .banner{
        padding-top: 10%;
    }
   }
@media screen and (max-width: 768px) {
    .banner__title {
        font-size: 3rem;
    }

   }
@media screen and (max-width: 680px) {
    .banner__title {
        font-size: 2.5rem;
    }

   }
@media screen and (max-width: 468px) {
    .banner__title {
        font-size: 1rem;
    }

   }



.title{
    background: url('./img/background/main-bg.png') center center no-repeat;
    position: relative;
    top: -100px;
}

@media screen and (max-width: 1280px){
    .title{
        top:-50px
    }
}
@media screen and (max-width: 768px){
    .title{
        top:-25px
    }
}
@media screen and (max-width: 480px){
    .title{
        top:-20px
    }
}


.title__text{
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Akrobat';
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 60px;

}
@media screen and (max-width: 1024px){
    .title__text{
        font-size: 2rem;
    }
}
@media screen and (max-width: 480px){
    .title__text{
        font-size: 1rem;
    }
}

.other{
    font-size: 3.8rem;
    color: #de4814;
}

@media screen and (max-width: 1024px){
    .other{
        font-size: 2rem;
    }
}
@media screen and (max-width: 480px){
    .other{
        font-size: 1.5rem;
    }
}

.title__text:before{
    content: "";
    width: 60px;
    height: 80px;
    background: url('./img/icons/arrow-left.png') center center no-repeat;
    position: absolute;
    left: 3%;
    top: 50%;
}

.title__text:after{
    content: "";
    width: 60px;
    height: 80px;
    background: url('./img/icons/arrow-right.png') center center no-repeat;
    position: absolute;
    right: 3%;
    top: 50%;
}

/* .content__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.content__item{
    /* width: 45%; */
    margin-bottom: 5%;
    /* position: relative; */
    background-color: #e4e9ee;
    box-shadow: 0 0 10px 5px rgba(229, 229, 229, 1);
    border: 2px solid #e4e4e4;
}

.content__item:before{
    content: "70%";
    padding-left: 11%;
    padding-top: 4%;
    font-size: 26px;
    font-family: 'Akrobat';
    font-weight: bold;
    color: #fff;
    width: 106px;
    height: 90px;
    background: url('./img/background/sale.png');
    position: absolute;
    right: -3%;
    top: -13px;
}

@media screen and (max-width: 980px) {
    .content__item:before {
        padding-left: 7%;
        padding-top: 2%;
        right: -2%;
        top: -16px;
    }

   }

/* .content__item:nth-child(even){
    margin-left: 15%;
} */

.product__proposal{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.product__img{
    width: 45%;
}

.product__pic{
    width: 100%;
}

.product__desc{
    width: 50%;
}

.product__price{
    background-color: #fff;
    padding-left: 10%;
    font-size: 30px;
}

.product__price-old{
    width: 45%;
    font-family: 'Arial';
    text-decoration: line-through;
    font-size: 20px;
}

.product__price-old p{
    margin-bottom: 0;
}

.product__price-actual{
    width: 45%;
    font-family: 'Akrobat';
    font-size: 28px;
    color: #d8481c;
}

.product__btns{
    display: flex;
    flex-direction: column;
    
}

.product__order-btn{
    width: 100%;
    background-color: #3ab16f;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Akrobat';
    font-size: 25px;
    border: none; 
    outline: none;
    margin-bottom: 5%;
}

.product__more-btn{
    width: 100%;
    font-size: 22px;
    font-family: 'Akrobat';
    color: #b83b11; 
    border:1px solid #e96c41;
    outline: none;
    margin-bottom: 5%;
}

.product__info{
    text-align: right;
    color: #b3533f;
    font-family: 'Akrobat';
    font-size: 16px;
    
}

.product__info-text{
    border-bottom: 1px dashed #b3533f;
}

.product__description{
    margin-left: 6%;
    margin-bottom: 30%;
}

.product__title{
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Akrobat';
    line-height: 1.4;
}

.product__title-underline{
    width: 100%;
    border-bottom: 1px solid black;
    font-weight: bold;
}


.product__text{
    font-family: 'Akrobat';
    font-size: 20px;
    color: #004734;
}


.product__socials{
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 2%;
    padding-bottom: 3%;
}

.product__socials-title{
    font-size: 15px;
    color: #828384;
    text-align: center;
}

.social__list{
    display: flex;
    padding-left: 4%;
}

@media screen and (max-width: 980px) {
    .social__list {
        padding-left: 25%;
    }

   }
@media screen and (max-width: 468px) {
    .social__list {
        padding-left: 0;
    }

   }

.vk{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 0 0;
    margin-right: 10px;
}

.inst{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 11% 0;
    margin-right: 10px;
}
.fb{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 22% 0;
    margin-right: 10px;
}
.class{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 33% 0;
    margin-right: 10px;
}
.youtube{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 44% 0;
    margin-right: 10px;
}
.in{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 55% 0;
    margin-right: 10px;
}
.pencil{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 66% 0;
    margin-right: 10px;
}
.smile{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 78% 0;
    margin-right: 10px;
}
.ya{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 89% 0;
    margin-right: 10px;
}
.google{
    width:28px; 
    height:28px; 
    background:url('./img/icons/sprite.png') 100% 0;
    margin-right: 10px;
}

.feedback{
    background-color: #80c9b0;
    border: 1px dashed black;
    position: relative;
    margin-bottom: 5%;
}

.feedback:before{
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    background: url('./img/icons/double-arrow-left.png') center center no-repeat;
    left: -15%;
}
.feedback:after{
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    background: url('./img/icons/double-arrow-right.png') center center no-repeat;
    right: -15%;
    top: 0;
}

@media screen and (max-width: 1280px) {
    .feedback:before {
        left: -9%;
    }
    .feedback:after{
        right: -9%;
    }
   }

   @media screen and (max-width: 1100px) {
    .feedback:before {
        content:none;
    }
    .feedback:after{
        content:none;
    }
   }

.form-inline{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2%;
    padding-bottom: 4%;
}

.form-group{
    width: 33%;
}

.form-inline .form-control{
    width: 100%;
    border: 1px solid #56907c;
}

.btn-primary{
    background: #de0d08;
    border: none;
    outline: none;
    border-radius: 0;
    max-height: 34px;
}

@media screen and (max-width: 768px){
    .btn-primary{
        margin-bottom: 15px;
    }
}

.footer{
    background-color: #a4a4a5;
    padding:5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dbdbdc
}




.footer__second{
    display: flex;
}


.footer__second  p{
    margin-right: 10px;
    margin-bottom: 0;
}

.footer__second  span{
    margin-right: 5px;
    margin-left: 5px;
}

.footer__third{
    display: flex;
}

.footer__third p{
    margin-right: 10px;
}

